body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.header {
    background-color: #120369;
    color: white;
    padding: 20px;
    text-align: center;
}

.store-title {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.search-box {
    margin-top: 15px;
    padding: 12px;
    width: 80%;
    max-width: 400px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.card-price {
    color: #1a73e8;
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0;
}

.buy-btn {
    background-color: #1a73e8;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.buy-btn:hover {
    background-color: #155bb5;
}
.card button{
  background-color: #7f9ec7;
  padding: 10px;
  border-radius: 10px;
  color: rgb(88, 27, 3);
  font-weight: 700;
  border: 2px solid #021835;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.card button:hover{
  transform: translateY(-5px);

}
/* Footer Styling */
.footer {
  background-color: #111;
  color: #ddd;
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}

.footer-content h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #fff;
}

.footer-content p {
  margin: 6px 0;
  font-size: 14px;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  color: #ccc;
  margin: 0 12px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
}

.footer-bottom {
  margin-top: 10px;
  font-size: 13px;
  color: #aaa;
}
